{% extends 'base.html' %}
{% block content %}
    <h1>{{ username.username }}의 프로필 페이지</h1>
    {% if username == request.user %}
    <a href="{% url 'accounts:update'%}" class="btn btn-primary mb-3">회원정보수정</a>
    {% endif %}
    <div>
        {% if username.image %}
            <img src="{{ username.image.url }}" alt="{{ username.username }}의 프로필 이미지" class="img-fluid rounded mb-3" style="max-width: 200px;">
        {% endif %}
        <br>
        가입일자 : {{ username.date_joined }}
        <p>
            팔로워 : {{ username.followers.count }}명
            팔로잉 : {{ username.following.count }}명
        </p>
    </div>
    {% if username != request.user %}
        <div>
            <form action="{% url 'accounts:follow' username.pk %}" method="POST" class="mb-3">
                {% csrf_token %}
                {% if user in username.followers.all %}
                    <button type="submit" class="btn btn-danger">언팔로우</button>
                {% else %}
                    <button type="submit" class="btn btn-success">팔로우</button>
                {% endif %}
            </form>
        </div>
    {% endif %}
    

    <h2><strong>{{ username }}의 등록한 상품</strong></h2>
    <ol reversed>
    <div class="d-flex flex-wrap">
        {% for article in articles %}
        <div class="card" style="width: 18rem; margin: 10px;">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
            <a href="{% url 'accounts:profile' article.author.username %}">
                {{ article.author.username }}
            </a>
            </h6>
            <a href="{% url 'products:detail' article.pk %}" class="btn btn-primary">상품 정보</a>
        </div>
        </div>
        {% endfor %}
    </div>
    </ol>
    <hr>

    {% if username == request.user %}
        <h2><strong>{{ username }}의 찜한 상품</strong></h2>
        <ol reversed>
        <div class="d-flex flex-wrap">
                {% for like in article_like %}
                <div class="card" style="width: 18rem; margin: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ like.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                        <a href="{% url 'accounts:profile' like.author.username %}">
                            {{ like.author.username }}
                        </a>
                        </h6>
                        <a href="{% url 'products:detail' like.pk %}" class="btn btn-primary">상품 정보</a>
                    </div>
                </div>
                {% endfor %}
        </div>
        </ol>

    {% endif %}
    
{% endblock content %}
