{% extends "base.html" %}

{% block content %}
<h3>상품 등록</h3>

<form action="{% url 'products:create' %}" method="POST" enctype="multipart/form-data">  <!-- enctype 추가 -->
    {% csrf_token %}
    <label for="title">제목</label>
    <input type="text" name="title" id="title" class="form-control"><br>
    <label for="content">내용</label>
    <textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea><br>

    <label for="image">이미지</label>
    <input type="file" name="image" id="image" accept="image/*" onchange="previewImage(event)" class="form-control"><br>

    <img id="image-preview" style="max-width: 300px; max-height: 300px; display: none;"><br>

    <button type="submit" class="btn btn-primary">작성</button>
</form>

<script>
function previewImage(event) {
    var image = document.getElementById('image-preview');
    image.src = URL.createObjectURL(event.target.files[0]);
    image.style.display = 'block';
}
</script>

{% endblock content %}