{% extends 'base.html' %}
{% block content %}
    {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.title }}" >
    {% endif %}

    <h3>{{ article.title }}</h3>
    <p>작성일시: {{ article.created_at }}, 수정일시: {{ article.updated_at }}</p>
    <p>{{ article.content }}</p>

    
    <hr>
    {% if user == article.author %}
        <a href="{% url 'products:update' article.pk %}" class="btn btn-primary me-2">수정</a>
        <form action="{% url 'products:delete' article.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="삭제" class="btn btn-danger me-2">
        </form>
    {% endif %}

    <a href="{% url 'products:home' %}" class="btn btn-secondary">목록</a>

    {% if request.user.is_authenticated %}
    <br>
    <hr>
    <h3>댓글 {{ comments|length }}개</h3>
    <form action="{% url "products:comment_create" article.pk %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="댓글작성">
    </form>
    {% endif %}

    {% for comment in comments %}
    <ul>
        <li>{{ comment.content }} - {{ comment.user.username }}</li>

        {% if user == comment.user %}
        <form action="{% url "products:comment_delete" article.pk comment.pk%}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
        {% endif %}

    </ul>

    {% empty %}
    <p>댓글이 없습니다.</p>

    {% endfor %}
    <a href="{% url 'products:home' %}">목록 보기</a>

{% endblock content %}