{% extends 'base.html' %}
{% block content %}
<h3>{{ article.title }}</h3>
<p>작성일시: {{ article.created_at }}, 수정일시: {{ article.updated_at }}</p>
<p>{{ article.content }}</p>

{% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.title }}" style="max-width: 100%; height: auto;">
{% endif %}
<hr>
{% if user == article.author %}
    <a href="{% url 'products:update' article.pk %}" class="btn btn-primary me-2">수정</a>
    <form action="{% url 'products:delete' article.pk %}" method="POST" class="d-inline">
        {% csrf_token %}
        <input type="submit" value="삭제" class="btn btn-danger me-2">
    </form>
{% endif %}

<a href="{% url 'products:home' %}" class="btn btn-secondary">목록</a>

{% endblock content %}
