{% extends 'base.html' %}
{% load static %}
{% block content %}
{% comment %} <img src="{% static 'products/me.png' %}" alt=""><br> {% endcomment %}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top : 10px;">
    <!-- 정렬 옵션 추가 -->
    <div>
        <form method="GET" class="d-flex align-items-center me-2">
            <label for="sort" class="me-2 mb-0" style="white-space: nowrap;">정렬 기준:</label>  <!-- white-space 추가 -->
            <select name="sort" id="sort" class="form-select" onchange="this.form.submit()">
                <option value="latest" {% if sort_option == 'latest' %}selected{% endif %}>최신순</option>
                <option value="popular" {% if sort_option == 'popular' %}selected{% endif %}>인기도순</option>
            </select>
        </form>
    </div>

    <div>
        <a href="{% url 'products:create' %}">
            <button class="btn btn-primary">글 작성하기</button>
        </a>
    </div>
</div>
<hr>

<div class="d-flex flex-wrap">
{% for article in articles %}
    <div class="card" style="width: 18rem; margin: 10px;">
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
            <a href="{% url 'accounts:profile' article.author.username %}">
            {{ article.author.username }}
            </a>
        </h6>
        
        <h5>조회수: {{ article.view_count }} 찜수: {{ article.like_count }}</h5>
        
        <div class="d-flex justify-content-between">
            <a href="{% url 'products:detail' article.pk %}" class="btn btn-primary">상품 정보</a>
            <form action="{% url 'products:like' article.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-light">
                {% if request.user in article.like_users.all %}
                    ❤️
                {% else %}
                    💔
                {% endif %}
                </button>
            </form>
        </div>
        
      </div>
    </div>
{% endfor %}
</div>
{% endblock content %}





{% csrf_token %}
<button class="btn btn-link text-danger">
{% if request.user in article.like_users.all %}
<i class="fa-regular fa-heart"></i>
{% else %}
<i class="fa-solid fa-heart"></i>
{% endif %}
</button>

